a {
  text-decoration: none;
  color: black;
  }

.Course {
  width: 15vw;

  margin: 8px;
  padding: 16px;

  text-align: start;

  border-radius: 16px;
  box-shadow: 2px 4px 4px #395B6433;
  background-color: white;
  }

.Course:hover {
  cursor: pointer;
  border-radius: 16px;
  box-shadow: 3px 5px 5px #395B6444;
  }

.Course h3 {
  margin: 0;
  }

.Course button {
  margin-top: 16px;
  padding: 4px;
  }