.Editor {
  padding: 8px;
  }

.Editor button {
  width: 128px;
  height: 32px;

  margin-top: 16px;
  }

.Edit-step {
  display: flex;
  flex-direction: column;
  width: max-content;
  }
  .Edit-step label {
    padding: 4px;
    display: flex;
    }
    .Edit-step label textarea,
    .Edit-step label select,
    .Edit-step label input {
      margin-left: auto;
      padding: 4px;
      height: fit-content;
      }
    .Edit-step label text {
      margin-right: 16px;
      }

.Tasks-step {
  flex-direction: row;
  flex-wrap: wrap;
  width: 90vw;
  }

.Edit-list {
  display: flex;
  flex-direction: column;
  }

.Edit-list .Edit-step {
  flex-direction: row;
  }

.Edit-list-item {
  padding: 8px;
  border-bottom: 1px solid #395B6433;
  width: max-content;
  display: flex;
  flex-direction: row;
  }

.Editor .Delete-button {
  width: 32px;
  height: 32px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 16px;
  }