.StartButton {
  width: 13vw;
  height: 13vw;
  border-radius: 1vw;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #517b84;
  color: whitesmoke;
  font-size: 30px;
  font-weight: bolder;
  margin: 24px;
  padding: 16px;
  }

  .StartButton:hover {
    width: calc(13vw + 8px);
    height: calc(13vw + 8px);
    margin-top: 16px;
    margin-left: 20px;
    margin-right: 20px;
    }