.Account-container {
  margin: 32px;
  }

.Account-property {
  display: flex;
  flex-direction: row;
  padding: 4px;
  font-size: large;
  }

.Account-property-label {
  font-weight: bold;
  margin-right: 16px;
  }