.App-header {
  background-color: #395B64;
  font-size: 24px;
  padding: 16px;
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  }

.App-header a {
  color: white;
  }

.App-header-logo {
  text-align: start;
  }

.App-header-user {
  font-size: 20px;
  margin-left: auto;
  margin-right: 42px;
  }

.App-header-user:hover {
  cursor: pointer;
  }