.Courses {
  padding: 8px;
  }

.Courses h2 {
  text-align: start;
  padding: 8px;
  margin: 0;
  color: #0e2225;
  }

.Courses-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  }