.Login-form {
  display: flex;
  flex-direction: column;

  padding: 16px;
  margin-top: 10vh;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: max-content;
  }

.Login-form input {
  padding: 8px;
  margin: 8px;
  border-radius: 4px;
  font-size: 14pt;
  }

.Login-form button {
  padding: 8px;
  margin: 8px;
  border-radius: 4px;
  font-size: 14pt;
  width: auto;
  }

.Login-form h3 {
  color: #0e2225;
  }