.Attempts-container {
  display: flex;
  flex-direction: column;
  padding: 16px;
  }

.Attempt {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-bottom: solid 1px #517b8433;
  padding: 16px;
  }

.Attempt-label {
  padding: 4px;
  font-weight: bold;;
  }

.Attempt-value {
  padding: 4px;
  margin-right: 4px;
  }